
button {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0rem;
    font-size: inherit;
    cursor: pointer;
}

:root {
    --cor-texto-principal: #ffffff;
    --fonte-textos: 'Open Sans', sans-serif;
    --gradiente: linear-gradient(53deg, #072041 0%, #041833 50%, #154580 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--cor-texto-principal);
    background: var(--gradiente);
    font-family: var(--fonte-textos);
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
}

.player_descricao, .player_temporizador-cronometro {
    cursor: default;
}

.player_temporizador-cronometro_tempo {
    width: 100%;
    height: 0.25rem;
    background: white;
    border-radius: .5rem;
}

.player_descricao h3 {
    font-size: 1rem;
    font-weight: 700;
}

.player_descricao span {
    font-size: 0.9rem;
}

.player_volume_nivel {
    width: 70%;
    height: 0.25rem;
    background: white;
    border-radius: .5rem;
}

.secao-player {
    padding: 16px;
    width: 100vw;
}
